In [1]:
from Tools_SS2_General import *

In [2]:
df_general=rc('Signaldata.csv',index_col='Unnamed: 0')

In [7]:
df_general

,timestamp,mid_kraken,MA_10_luno,MA_10_kraken,STD_10_luno,STD_10_kraken,BBL_10_luno,BBU_10_luno,BBL_10_kraken,BBU_10_kraken,...,BBL_1440_luno,BBU_1440_luno,BBL_1440_kraken,BBU_1440_kraken,pivot_luno,pivot_kraken,s1_kraken,s2_kraken,r1_kraken,r2_kraken
0,2020-07-11 20:13:19,8164.345,8174.487200,8163.440833,4.050123,0.841999,8170.437077,8178.537323,8162.598834,8164.282832,...,8161.747447,8209.973355,8157.200489,8211.595596,8174.575,8163.735,8163.735,8163.735,8163.735,8163.735
1,2020-07-11 20:13:21,8164.345,8174.471350,8163.443492,4.031095,0.842332,8170.440255,8178.502445,8162.601160,8164.285823,...,8161.747860,8209.973385,8157.200870,8211.595590,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-07-11 20:13:22,8164.345,8174.455500,8163.446150,4.011914,0.842656,8170.443586,8178.467414,8162.603494,8164.288806,...,8161.748271,8209.973416,8157.201251,8211.595583,8174.575,8164.345,8164.345,8164.345,8164.345,8164.345
3,2020-07-11 20:13:24,8164.345,8174.439558,8163.448808,3.992576,0.842971,8170.446982,8178.432134,8162.605837,8164.291779,...,8161.748682,8209.973445,8157.201630,8211.595577,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-07-11 20:13:25,8164.345,8174.423708,8163.451467,3.973302,0.843278,8170.450406,8178.397010,8162.608189,8164.294745,...,8161.749092,8209.973475,8157.202009,8211.595571,8174.520,8164.345,8164.345,8164.345,8164.345,8164.345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300295,2020-07-19 22:07:04,8043.330,8045.598000,8042.991025,1.354884,0.919799,8044.243116,8046.952884,8042.071226,8043.910824,...,8008.705323,8043.991345,8007.354415,8039.319085,8045.120,8043.330,8043.330,8043.330,8043.330,8043.330
300296,2020-07-19 22:07:06,8043.330,8045.591800,8042.992083,1.348531,0.919823,8044.243269,8046.940331,8042.072260,8043.911907,...,8008.705453,8043.991703,8007.354549,8039.319499,NaN,NaN,NaN,NaN,NaN,NaN
300297,2020-07-19 22:07:07,8043.330,8045.585600,8042.993142,1.342119,0.919846,8044.243481,8046.927719,8042.073296,8043.912988,...,8008.705582,8043.992061,8007.354689,8039.319916,8045.120,8043.330,8043.330,8043.330,8043.330,8043.330
300298,2020-07-19 22:07:09,8043.320,8045.579400,8042.994183,1.335647,0.919862,8044.243753,8046.915047,8042.074322,8043.914045,...,8008.705712,8043.992418,8007.354828,8039.320333,NaN,NaN,NaN,NaN,NaN,NaN
300299,2020-07-19 22:07:10,8043.320,8045.573200,8042.995225,1.329116,0.919876,8044.244084,8046.902316,8042.075349,8043.915101,...,8008.705842,8043.992776,8007.354968,8039.320750,8045.120,8043.320,8043.320,8043.320,8043.320,8043.320

In [ ]:
(df_general.mid_kraken-df_general.BBL_10_kraken).plot()

In [ ]:
    signalmatrix =df(df_general.mid_kraken-(df_general.MA_10_kraken+2*df_general.STD_10_kraken)).join(
        df(df_general.mid_kraken-(df_general.MA_10_kraken-2*df_general.STD_10_kraken)),rsuffix='r')

In [ ]:
signalmatrix

In [ ]:
df(df_general.mid_kraken-(df_general.MA_10_kraken+2*df_general.STD_10_kraken))

In [3]:
def buy_and_sell_entries_SS2(Entryhandle,Exithandle,
                             Entryperiod='60',Sellperiod='10'
                             Entrymultiplier=2,Exitmultiplier=0,df_general=None):
    # df_general is Best Bid Best Ask for both exchanges
    
    Entrycolumn='MA_'+Entryperiod+'_kraken'
    Entrycolumn_STD='STD_'+Entryperiod+'_kraken'
    
    Sellcolumn='MA_'+Sellperiod+'_kraken'
    Sellcolumn_STD='STD_'+Entryperiod+'_kraken'

    
   
    signalmatrix =df(df_general.mid_kraken-(df_general[[Entrycolumn]].values+
                                            Entrymultiplier*df_general[[Entrycolumn_STD]].values)).join(
        df(df_general.mid_kraken-(df_general[[Sellcolumn]].values-
                                  Exitmultiplier*df_general[[Sellcolumn_STD]].values)),rsuffix='r')
    signalmatrix.columns=['En','Ex']
    # Our entry and exits
    buyentry=[];sellentry=[]

    # Enter the first buy (Index is zero indexed)
    open_signal = signalmatrix['En']> Entryhandle
    first_entry_idx = df_general[open_signal].head(1).index.values
    buyentry.append(first_entry_idx)

    # Enter the first close
    close_signal = signalmatrix['Ex']<Exithandle
    first_close_signal = df_general[close_signal] 
    first_close_idx = first_close_signal[first_close_signal.index.values > first_entry_idx].head(1).index.values
    sellentry.append(first_close_idx)

    more_oppurtunities = lambda: len(sellentry[-1])!=0
    trade_initated = lambda: len(buyentry[-1])!=0
    
    while more_oppurtunities():
        next_open_signal = df_general[open_signal]
        next_open_idx = next_open_signal[next_open_signal.index.values > sellentry[-1]].head(1).index.values
        buyentry.append(next_open_idx)
        
        if trade_initated():
            next_close_signal = df_general[close_signal] 
            next_close_idx = next_close_signal[next_close_signal.index.values > next_open_idx].head(1).index.values
            sellentry.append(next_close_idx)
        else:
            break

    # Cleanup the mess 
    for i in [sellentry, buyentry]:
        if len(i[-1])==0:
            i.pop(-1)

    return [buyentry, sellentry]

In [4]:
bs=buy_and_sell_entries_SS2(15,0,df_general=df_general)

In [6]:
def trading_plugin_SS2(buysellentries,feesb=0.0025,feess=0.0025,df_price=None):
    
	[buyentry,sellentry]=buysellentries
	Entries=df(buyentry).join(df(sellentry),rsuffix='r')
	Entries.columns=['B','S']

	if len(buyentry)>len(sellentry):
		Entries=Entries.iloc[:(Entries.shape[0]-1),]

	RoT=[None]*(Entries.shape[0])

	for i in range(Entries.shape[0]):
		buyprice=df_price.loc[Entries['B'][i]][2]*(1+feesb)
		sellprice=df_price.loc[Entries['S'][i]][1]*(1-feess)
		RoT[i]=sellprice/buyprice

	Entries_in_time=df(df_price.loc[Entries['B']]['timestamp']).reset_index(
    drop=True).join(df(df_price.loc[Entries['S']]['timestamp']).reset_index(drop=True),rsuffix='S')
	
	Entries_in_time.columns=Entries.columns

	return [Entries_in_time, RoT]

In [5]:
tp=rc('Tradingprices.csv',index_col='Unnamed: 0')

In [6]:
trading_plugin_SS2(bs,feesb=0,feess=0,df_price=tp)

[                     B                    S
 0  2020-07-12 07:58:25  2020-07-12 08:23:39
 1  2020-07-12 13:26:21  2020-07-12 13:30:34
 2  2020-07-12 22:14:04  2020-07-13 06:23:37
 3  2020-07-18 09:03:41  2020-07-18 09:23:19
 4  2020-07-19 16:43:52  2020-07-19 16:54:02,
 [1.0020569697561927,
  0.9865374681992191,
  1.001990043673457,
  0.9998532042525982,
  0.9972837549133178]]